<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="gantry">
  <link
    name="structure">
    <inertial>
      <origin
        xyz="4.0294 4.6921 1.1281"
        rpy="0 0 0" />
      <mass
        value="12293" />
      <inertia
        ixx="64316"
        ixy="4.0607E-12"
        ixz="7.965E-13"
        iyy="45881"
        iyz="0.0025005"
        izz="107060" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gantry/meshes/structure.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gantry/meshes/structure.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Y_Rail">
    <inertial>
      <origin
        xyz="2.8379 4.8406 0.17153"
        rpy="0 0 0" />
      <mass
        value="740.03" />
      <inertia
        ixx="17.062"
        ixy="-1.757E-09"
        ixz="-0.002039"
        iyy="2278.6"
        iyz="1.079E-06"
        izz="2279.9" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gantry/meshes/Y_Rail.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gantry/meshes/Y_Rail.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Y_Base"
    type="prismatic">
    <origin
      xyz="1.1619 1.2076 3.7013"
      rpy="0 0 0" />
    <parent
      link="structure" />
    <child
      link="Y_Rail" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="5.3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="X_Rail">
    <inertial>
      <origin
        xyz="3.7845 2.5E-05 -0.6159"
        rpy="0 0 0" />
      <mass
        value="595.91" />
      <inertia
        ixx="213.05"
        ixy="-1.8367E-15"
        ixz="-4.5834E-15"
        iyy="226.29"
        iyz="2.4056E-15"
        izz="40.6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gantry/meshes/X_Rail.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gantry/meshes/X_Rail.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="X_Base"
    type="prismatic">
    <origin
      xyz="-0.03085 4.8406 0.368"
      rpy="0 0 0" />
    <parent
      link="Y_Rail" />
    <child
      link="X_Rail" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="6.6"
      effort="0"
      velocity="0" />
  </joint>
</robot>
