<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test8">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.02864523689272 4.68594983260276 1.12811003412138"
        rpy="0 0 0" />
      <mass
        value="12293.2154089237" />
      <inertia
        ixx="64315.9848906651"
        ixy="4.72802642797358E-12"
        ixz="2.09416082676083E-13"
        iyy="45881.0476516664"
        iyz="-0.00250051596600959"
        izz="107061.453631579" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test8/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test8/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="2.97602476327698 3.54730607280989 0.171527764141937"
        rpy="0 0 0" />
      <mass
        value="740.0303448616" />
      <inertia
        ixx="17.0621024004927"
        ixy="1.75706365425981E-09"
        ixz="0.0020389540811338"
        iyy="2278.62582732281"
        iyz="1.07903806453826E-06"
        izz="2279.87804604228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test8/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test8/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="prismatic">
    <origin
      xyz="1.0822 1.1917 3.7013"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="3.01401705569617 0.0679609788498059 -0.693647056913111"
        rpy="0 0 0" />
      <mass
        value="645.325992510265" />
      <inertia
        ixx="213.993771610598"
        ixy="0.000780635487266391"
        ixz="0.122391995606617"
        iyy="227.813506683219"
        iyz="0.000563037885632421"
        izz="42.4394302914655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test8/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test8/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="prismatic">
    <origin
      xyz="0.10775 3.4953 0.368"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>